.game {

    .main {
        display: flex;
        flex-direction: column;

        @include media-xl {
            display: grid;
            grid-template-areas:
                'game . rec'
                'summary . rec'
                'ratings . rec';
        }
    }

    &__window iframe, canvas {
        display: block;
        width: 100vw;
        max-width: $max-game-width;
        height: 60vw;
        max-height: .6 * $max-game-width;
        margin: 0 auto 40px;
        grid-area: game;
    }

    &__summary {
        width: 80%;
        margin: 0 auto 20px;
        grid-area: summary
    }

    .like-btns {
        width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area: ratings;

        .rating {
            margin-right: 10px;

            h3 {
                text-align: center;
                margin-bottom: 3px;
            }
        }
    }

    .rec {
        width: 90%;
        margin: 2rem auto;
        background: $secondary-color;
        padding: 5px;
        color: set-text-color($secondary-color);
        grid-area: rec;

        @include media-xl {
            text-align: center;
        }

        &__games {
            display: flex;

            @include media-xl {
                flex-direction: column;
                align-items: center;
            }
        }

        &__game {
            margin: 0.5rem;
            background: $accent-color;
            padding: 1rem;

            a {
                text-decoration: none;
                text-align: center;
            }
        }

        img {
            width: 150px;
            height: 100px;
        }
    }

    .comments {
        width: 80%;
        margin: 0 auto;
        background: $secondary-color;
        color: set-text-color($secondary-color);

        form {
            margin-left: 10%;
        }

        label {
            display: block;
        }

        #new-comment {
            height: 5rem;
            width: 80%;
            display: block;
        }

        #comment-submit {
            padding: 0.2rem;
        }

        h2 {
            text-align: center;
        }

        .comment {
            list-style-type: none;
            margin-bottom: 5px;
            padding: 1rem;

            &__name {
                font-weight: bold;
                margin-bottom: 5px;
            }
        }
    }
}