.games {
    width: 90%;
    margin: 0 auto;

    &__category {
        background: $secondary-color;
        color: set-text-color($secondary-color);
        margin: 1rem;
        padding: 5px;

        h2 {
            text-align: center;
        }
    }

    &__category-items {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 0 10px;
    }

    &__item {
        padding: 1rem;
        margin: 0.5rem 1rem;
        background: $accent-color;
    }

    img {
        width: 150px;
        height: 125px;
    }

    @include media-md {
        width: 75%;
    }

    @include media-lg {
        width: 60%;
    }
}