.login {
    form {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 0 auto;

        @include media-lg {
            width: 30%;
        }

        @include media-xl {
            width: 20%;
        }

        .input-field {
            display: flex;
            flex-direction: column;
            margin-bottom: 5px;
        }

        input {
            max-width: 400px;
        }
    }

    #login-btn {
        width: 80px;
        margin-right: 10px;
    }
}