.nav {
    background: $navigation-color;
    position: fixed;
    z-index: 2;
    width: 100%;
    padding-top: 0.5rem;

    a {
        text-decoration: none;
        color:$secondary-color;
        font-size: 1rem;
        margin-right: 0.5rem;
        flex-grow: 1;
        padding: 2px;
        text-align: center;

        &:hover {
            color: rgb(55, 55, 243);
            background: white;
        }
    }

    &__main {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;

        @include media-md {
            width: 80%;
        }
    }

    &__games {
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;

        & a {
            padding: 3px 10px;
            flex-grow: 1;
            text-align: center;
        }

        @include media-md {
            justify-content: space-around;
        }
    }

    .search {
        display: table;
        form {
            display: inline-block;
            width: auto;
        }

        button {
            background: white;
            float: right;
            cursor: pointer;
        }
    }
}