@import 'config';
@import 'navigation';
@import 'home';
@import 'login';

header {
    padding-top: 75px;
    text-align: center;
}

body {
    background: $primary-color;
    color: set-text-color($primary-color);
}